/*
 * @Author: he.xiaoxue 
 * @Date: 2018-08-15 11:47:02 
 * @Last Modified by: xiaoxuehe
 * @Last Modified time: 2020-09-03 16:22:05
 */
//  游戏房间样式
.game-room {
  width: px2rem(380);
  min-width: 250px;
  background-color: #242730;
  border-radius: 4px;
  border: solid 1px #2b2e38;
  margin-left: px2rem(30);
  margin-bottom: px2rem(30);
  float: left;
  cursor: pointer;
  &.lineFirst {
    margin-left: 0;
  } // 房间头部
  .header {
    padding: px2rem(7) px2rem(10);
    color: #fff;
    clear: both;
    overflow: hidden;
    line-height: px2rem(25);
    background-color: #2d3038;
    background-position: center;
    background-size: 100%;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
    .img {
      width: px2rem(26);
      height: px2rem(26);
      margin-right: px2rem(10);
      border-radius: 50%;
    }
  } // 房间内容区
  .body {
    padding: px2rem(24) px2rem(20);
    clear: both;
    overflow: hidden;
    .img {
      width: px2rem(60);
      height: px2rem(60);
      border-radius: 50%;
      margin-right: px2rem(12);
      float: left;
    }
    .info {
      float: left;
      color: $white;
      text-align: left;
      padding: px2rem(4) 0;
      width: 2.6rem;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis
    }
  }
}

.participants {
  color: $yellow;
  margin-top: px2rem(10);
  .already {
    width: px2rem(14);
    height: px2rem(18);
    display: inline-block;
    background: url('../assets/already.png') no-repeat;
    background-size: cover;
    margin-right: px2rem(10);
  }
  .vacancy {
    width: px2rem(14);
    height: px2rem(18);
    display: inline-block;
    background: url('../assets/vacancy.png') no-repeat;
    background-size: cover;
    margin-right: px2rem(10);
  }
  .small {
    position: relative;
    top: px2rem(-4);
  }
}

.nodata {
  position: absolute;
  left: 50%;
  top: 48%;
  width: px2rem(310);
  height: px2rem(277);
  margin-left: px2rem(-155);
  margin-top: px2rem(-130);
  p {
    margin: 6px 0;
  }
  .reload-btn {
    // height: px2rem(32);
    line-height: px2rem(32);
    border-radius: px2rem(32);
    padding-left: px2rem(45);
    padding-right: px2rem(25);
    display: inline-block;
    border: solid 1px $green;
    margin-top: px2rem(30);
    color: $green;
    cursor: pointer;
    background-image: url('../assets/reloadg.png');
    background-repeat: no-repeat;
    background-position: px2rem(25) center;
    background-size: px2rem(15) px2rem(18);
  }
}
