/*
 * 登录页面样式
 * @Author: he.xiaoxue 
 * @Date: 2018-08-31 23:30:37 
 * @Last Modified by: he.xiaoxue
 * @Last Modified time: 2018-09-17 21:36:37
 */
@include html-font-size();
.login {
  background: url('../assets/login-bg.png') no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  // 登录页模态框
  .video-bg {
    min-height: 100%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: 100%;
    z-index: -11;
  }
  .login-modal {
    min-width: px2rem(260);
    padding: px2rem(30) px2rem(60);
    position: absolute;
    right: 19%;
    top: px2rem(250);
    background: url('../assets/login-modal-bg.png') no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: px2rem(10);
    .title {
      img {
        height: px2rem(71);
        width: px2rem(76);
        margin-bottom: px2rem(15);
      }
    }
    .form {
      margin-top: px2rem(40);
      .form-group {
        text-align: left;
        + .form-group {
          margin-top: px2rem(20);
          ~ .submit {
            margin-top: px2rem(35);
            margin-bottom: px2rem(30);
          }
        }
        .label {
          color: #ccc;
          line-height: px2rem(30);
          padding-left: px2rem(10);
        }
        input {
          display: block;
          background: #14161e;
          padding: 0 px2rem(15);
          height: px2rem(40);
          line-height: px2rem(40);
          border-radius: px2rem(20);
          border: none;
          width: px2rem(230);
          min-width: 160px;
          outline: none;
          color: #fff;
          &::-webkit-input-placeholder{
           font-size: 12px;
         }
        }
        
        .code {
          width: px2rem(130);
          min-width: 100px;
          display: inline-block;
        }
        .code-text {
          width: px2rem(100);
          display: inline-block;
          text-align: center;
          white-space: nowrap;
        }
        .green-btn {
          display: inline-block;
          height: px2rem(40);
          line-height: px2rem(40);
          border-radius: px2rem(20);
          width: px2rem(260);
          text-align: center;
          font-weight: bold;
        }
      }
      .wx-code {
        // height: 180px;
        overflow: hidden;
      
      }
      .byPhone-btn {
        display: inline-block;
        padding: px2rem(8) px2rem(18);
        border-radius: 21px;
        border: solid 1px #ffffff;
      }
      .wx-text {
        margin-bottom: px2rem(50);
      }
    }
  }
  // 登陆页底部信息
  .login-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: px2rem(20);
    // height: px2rem(40);
    // line-height:  px2rem(40);
    .download {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      clear: both;
      overflow: hidden;
      width: px2rem(400);
      padding-top: 16px;
      padding-bottom: 20px;
      margin: 10px auto;
      color: #fff;
      border-radius: 10px;
      .platform {
        float: left;
        width: 33.33333%;
        .qrcode {
          height: px2rem(90);
          line-height: px2rem(90);
          img {
            vertical-align: middle;
            max-width: px2rem(90);
          }
        }
      }
    }
    .left {
      border-right: 2px solid #fff;
      padding-right: px2rem(40);
      margin-right: px2rem(40);
      color: #fff;
      display: inline-block;
    }
    .right {
      display: inline-block;
      position: relative;
      top: px2rem(-10);
    }
    .white-btn {
      color: #fff;
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }
    .green-btn {
      &:hover {
        background-color: #ffffff;
        color: #333333;
      }
    }
  }
}
