/* 
 * 公共函数 px 转 rem
 * @Author: he.xiaoxue 
 * @Date: 2018-08-31 23:29:10 
 * @Last Modified by: he.xiaoxue
 * @Last Modified time: 2018-09-30 15:31:59
 */

//跟字体大小
$baseFontSize:100;//基数

//测试使用
$baseFontSize-px:20px;
html {
  font-size: 68px;
}

// 计算rem的基准字体
$baseFontSize-px: 100px;

// // UI设计图的分辨率宽度
$UI-resolution-width: 1920px;

// 需要适配的屏幕宽度
$device-widths:  1280px, 1366px, 1440px, 1580px, 1680px, 1780px, 1920px;
// 根据不同设备的屏幕宽度，定义<html>的基准font-size
@mixin html-font-size() {
  @each $current-width in $device-widths {
      @media screen and  (min-width: $current-width) {
          html {
              $x: $UI-resolution-width / $current-width;  // 计算出是几倍屏
              font-size: $baseFontSize-px / $x;
          }
          .room-container,.by-wechat {transform: scale( $current-width/$UI-resolution-width )}
      }
  }
}
@media screen and (min-width:0px) and (max-width:1279px){
   .room-container,.by-wechat {transform: scale(0.72 )}
}

// px to rem 函数
@function px2rem($px) {
  @return $px / $baseFontSize  * 1rem;
}