<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.framing.module.customer">
    <application>
        <activity android:name=".ui.activity.CContainerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>