@keyframes slide-left-in {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}


@keyframes drop-in {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes drop-in {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes raise-in {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(200px);
  }
}

@-webkit-keyframes raise-in {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(200px);
  }
}
@keyframes drop-in {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes drop-in {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
