
.frow {
  display: flex;
  flex-direction: row;
}
.fcol {
  display: flex;
  flex-direction: column;
}
.fwrap {
  flex-wrap: wrap;
}
.cntx {
  justify-content: center;
}
.fjend{
  justify-content: flex-end;
}
.cnty {
  align-items: center;
}
.faend{
  align-items: flex-end;
}
.fcnt {
  justify-content: center;
  align-items: center;
}
.fbetw{
  justify-content: space-between;
}
.even {
  justify-content: space-around;
  justify-content: space-evenly;
}
.f1 {
  flex: 1;
}
.f2 {
  flex: 2;
}
.f3 {
  flex: 3;
}
.f4 {
  flex: 4;
}
.f5 {
  flex: 5;
}
.f6 {
  flex: 6;
}
.f7 {
  flex: 7;
}
.f8 {
  flex: 7;
}
