@import 'common';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-width: 768px;
  @include background-yellow;
  .header {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;

    img {
      height: 80%;
      align-self: center;
    }

    p {
      position: relative;
      left: 30px;
      top: 20px;
      font-size: 60px;
      word-wrap: break-word;
      width: 200px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  }

  .welcome {
    @include mobile {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: flex-start;

    .card {
      @include mobile {
        top: 0px;
      }
      background-color: whitesmoke;
      position: relative;
      width: 300px;
      top: -50px;
      margin: 20px;
      box-shadow: 2px 2px 2px gray, -2px -2px 2px lightgray;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 30px;

      svg {
        font-size: 50px;
        margin: 20px;
        color: #3e0894;
      }

      p {
        margin: 20px;
        font-family: 'Courier New', Courier, monospace;
      }

      a {
        border-radius: 1rem;
        border: none;
        padding: 10px 30px;
        transition: all 0.3s ease;
        display: inline-block;
        font-size: 1.5rem;
        color: #0c2d8f;
        font-weight: bolder;
        font-family: 'Muli', sans-serif;
        text-decoration: none;
        box-shadow: inset 1px 1px 1px lightgray, inset -1px -1px 1px gray;
      }

      a:hover,
      a.active {
        box-shadow: inset 2px 2px 2px gray, inset -2px -2px 2px lightgray;
      }
    }
  }
}
