/*
 * @Author: he.xiaoxue 
 * @Date: 2018-08-31 23:31:16 
 * @Last Modified by: he.xiaoxue
 * @Last Modified time: 2018-09-15 00:47:28
 */
// @import './mixn.scss';
/* 聊天室样式 */
.room {
  /* 聊调试背景 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .room-bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: -1;
  }
  .room-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: px2rem(1200);
    height: px2rem(720);
    margin-top: px2rem(-360);
    margin-left: px2rem(-600);
    background-color: #1a1b20;
    border-radius: 10px;
    overflow: hidden;
    /* 头部 房间名称 房间设置 */
    .header {
      height: 66px;
      line-height: 66px;
      clear: both;
      overflow: hidden;
      padding: 0 px2rem(30);
      font-size: 16px;
      .left {
        color: #aaa;
        .title-img {
          height: px2rem(26);
          width: px2rem(26);
          border-radius: px2rem(26);
          margin-right: 5px;
        }
      }
      .right {
        .option {
          margin-left: px2rem(30);
          cursor: pointer;
          &:last-child {
            border-left: 1px solid #313236;
            padding-left:px2rem(30);
            padding-right: px2rem(30);
            line-height: px2rem(33);
            display: inline-block;
            background-repeat: no-repeat;
            background-position: right center;
          }
        }
      }
    }
    /* 房间详细信息 聊天室*/
    .body {
      clear: both;
      overflow: hidden;
      height: px2rem(655); // 房间信息
      .left {
        width: px2rem(384);
        height: px2rem(605);
        text-align: left;
        background-color: #242730;
        padding: px2rem(30) px2rem(30) px2rem(20) px2rem(30);
        position: relative;
        .title {
          font-size: 24px;
        } // 成员信息
        .members {
          clear: both;
          overflow: hidden;
          margin-top: px2rem(60);
          min-height: px2rem(300);
          .member-item {
            width: px2rem(66);
                height: px2rem(94);
            overflow: hidden;
            margin-bottom: px2rem(40);
            text-align: center;
            + .member-item {
              margin-left: px2rem(40);
            }
            &:nth-child(5n + 0) {
              margin-left: 0;
            }
            &.empty {
              height: px2rem(66);
              border: 1px dashed #ffffff;
              box-sizing: border-box;
              -moz-box-sizing: border-box; /* Firefox */
              -webkit-box-sizing: border-box; /* Safari */
              border-radius: 50%;
              position: relative;
              opacity: 0.7;
              text-align: center;
              line-height: px2rem(66);
              color: #fff;
              cursor: pointer;
              margin-bottom:  px2rem(70);
              &::after {
                content: '+';
                font-size:  px2rem(45);
                font-weight: 100;
              }
            }
            float: left;
            .avatar {
              width: px2rem(66);
              height: px2rem(66);
              border-radius: 50%;
            }
            .nickname {
              padding-top: 8px;
              color: #aaaaaa;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        } // 调音 说话状态
        .voicing {
          height: px2rem(181);
          padding-top: px2rem(80);
          .speck-btn {
            width: px2rem(384);
            height: px2rem(50);
            line-height: px2rem(50);
            background-color: #efca14;
            border-radius: 4px;
            color: #242730;
            text-align: center;
            font-weight: bold;
          }
          .tuning {
            clear: both;
            overflow: hidden;
            margin-top: px2rem(20);
            .music,
            .microphone {
              width: 125px;
              float: left;
              vertical-align: middle;
              padding-left: px2rem(35);
              padding-right: px2rem(30);
              .icon {
                margin-right: 9px;
                display: inline-block;
              }
              .bar {
                width: px2rem(100);
                height: 2px;
                background-color: #666666;
                border-radius: 1px;
                display: inline-block;
                position: relative;
                .bar-inner {
                  background-color: #e8e8e8;
                  width: 0%;
                  height: 2px;
                  display: inline-block;
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 100%;
                }
                .switch {
                  position: absolute;
                  width: 12px;
                  height: 12px;
                  border-radius: 12px;
                  background-color: #e8e8e8;
                  display: inline-block;
                  top: -6px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
      .right {
        width: px2rem(756);
        height: px2rem(635);
        background-color: #1e2027;
        padding-top: px2rem(20);
        text-align: left;
        .notice {
          height: px2rem(40);
          line-height: px2rem(40);
          padding-left: px2rem(20);
          margin: 0 px2rem(20);
          background-color: rgba($color: #fff, $alpha: 0.02);
          border-radius: 4px;
          cursor: pointer;
        } // 历史聊天信息
        .chat-content {
          height: px2rem(380);
          padding-top: px2rem(20);
          font-size: 14px;
          color: #777;
          margin: 0 px2rem(20);
          .tips,
          .invite,
          .chat-item {
            margin-bottom: 14px;
          }
          .invite {
            height: px2rempx2rem(34);
            line-height: px2rempx2rem(34);
            line-height: px2rempx2rem(34);
            clear: both;
            .invite-inner {
              float: left;
              background-color: #23252c;
              border-radius: 21px;
              padding: 0 15px;
            }
          }
          .chat-item {
            line-height: 20px;
          }
          .m-l {
            margin-left: 14px;
          }
          .m-r {
            margin-right: 14px;
          }
        } // 输入框组合
        .input-content {
          border-top: 1px solid #35373d;
          padding-top: 20px;
          padding-right: 20px;
          padding-left: 20px;
          margin-top: 20px;
          font-size: 14px;
          .input-area {
            background: transparent;
            width: 100%;
            height: px2rem(130);
            border: none;
            resize: none;
            font-size: 14px;
            color: #e8e8e8;
            &:focus {
              outline: none;
            }
          }
          // 匿名用户展示
          .anonymous {
            height: px2rem(100);
            padding-top: px2rem(20);
            padding-bottom: px2rem(20);
            text-align: center;
            .btn-login {
              width: px2rem(126);
              height: px2rem(32);
              line-height: px2rem(34); 
              margin-top: px2rem(26);
              border-radius: 18px;
              display: inline-block;
              cursor: pointer;
              +.btn-login{
                margin-left: 30px;
              }
              &.login-wechat {
                background-color: #00c006;
                color: #fff;
              }
               &.login-phone {
                background-color: #e8e8e8;
                color: #333333;
              }
              img{
                vertical-align: middle;
                margin-right: 5px;
                position: relative;
                top: -1px;
              }
            }
          }
          .btn-group {
            clear: both;
            overflow: hidden;
            .left-btn {
              float: left;
              &.disabled{
                color: #777;
              }
            }
            .right-btn {
              float: right;
            }
            .btn {
              height: px2rem(36);
              line-height: px2rem(36);
              background-color: #242730;
              border-radius: 4px;
              display: inline-block;
              padding: 0 15px;
              cursor: pointer;
              + .btn {
                margin-left: 20px;
              }
              &.btn-bg {
                background-color: #00d95f;
                color: #1e2027;
              }
              &.disabled{
                background-color: #777;
              }
              .icon-plus {
                font-size: 28px;
                vertical-align: middle;
                position: relative;
                margin-right: 3px;
                // top:-1px;
              }
            }
          }
        }
      }
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
}
